:root{
    --fs-banner-title-xl: 65px;
    --fs-banner-title: 62px;
    --fs-section-title-xl: 55px;
    --fs-section-title: 52px;
    --fs-section-title-sm: 50px;
    --fs-title-xl: 36px;
    --fs-title-lg: 34px;
    --fs-title-md: 32px;
    --fs-title-base: 30px;
    --fs-title-sm: 28px;
    --fs-title-xs: 26px;
    --fs-body-2xl: 24px;
    --fs-body-xl: 22px;
    --fs-body-lg: 20px;
    --fs-body-md: 18px;
    --fs-body: 16px;
    --fs-body-sm: 14px;
    --fs-body-xs: 12px;
}
